.navbar-brand{
  font-size: 35px !important;
  color: blue !important;
  margin-top: 8px;
}
li a[href="#overview"]{
  font-size: 23px;
  margin-top: 10px;
  color: black !important;


}
li a[href="#history"]{
  font-size: 23px;
  margin-top: 10px;
  color: black !important;

}
li a[href="#health"]{
  font-size: 23px;
  margin-top: 10px;
  color: black !important;

}
li a[href="#pictures"]{
  font-size: 23px;
  margin-top: 10px;
  color: black !important;

}
#login{
  font-size: 30px;
  margin-right: 7px;
  margin-top: 8px;
  color: black !important;
  text-decoration: underline !important;
}
.navbar-custom {
    background-color: pink !important;
}
 .navbar-fixed-top{
  height: 70px;
}
#Heading{
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 50px;
}
#overview{
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
#classification{
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}
#classification-description{
  font-family: 'Courgette', cursive;
  font-size: 25px;

}
#xyz{
  text-decoration: underline;
  color: blue;
}
#Arabica{
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}
#var{
  font-weight: bold;
  font-family: 'Lobster', cursive;

}
#var_description{
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
#history{
  font-family: 'Lobster', cursive;
  text-align: center;
}
#history_description{
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
#health{
  font-family: 'Lobster', cursive;
  text-align: center;
}
#health_description{
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
#list1{
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
#pictures{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
#image1{
  float: right;
  max-width: 50%;
  margin-left: 10px;
  margin-right: auto;
  height: 350px;
  display: block;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#anatomy{
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: blue;
}
#welcome{
  font-size: 23px;
  margin-right: 35px;
  margin-top: 6px;
  color: black !important;

}
#jumbo{
  margin-top: 100px;
}
#logdes{
  font-family: 'Crimson Text', serif;
}
#login2{
  font-family: 'Courgette', cursive;
}
#footer-info{
    display: block;
    width: 100%;
    background-color: black !important;
    text-align: left;
    margin-bottom: 0px;
    height: 50px;
    font-size: 20px;
    padding-top: 12px;


}
